<!DOCTYPE html>
<html>

<head>
    <title>About Page</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Designed exclusively for truck drivers, the Trucking Weather app combines elements from both weatherstack api and mapbox api  to make the most convenient and in-depth app for weather conditions.</p>
         <img class="potrait" src="/img/truck.jpg" width="250" height="200">
    </div>

{{>footer}}
</body>

</html>