<!DOCTYPE html>
<html>

<head>
    <title>About Page</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This Website is used for checking the weather updates.It uses mapbox api and weather stack api</p>
         <img class="potrait" src="/img/saliha.png">
    </div>

{{>footer}}
</body>

</html>